.toolbar {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    background-color: $maincolor;

    .uk-navbar {
        border-bottom: $base-border;
    }

    .uk-iconnav {
        >li {
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: $global-control-height;
                padding: 0 $navbar-nav-item-padding-horizontal;
                font-size: $navbar-nav-item-font-size;
                text-decoration: none;
            }
        }
    }
}